<div class="addContainer">
  <div class="modalHeader">
    <div class="editRowModal">
      <div class="modalHeader clearfix">
        <div class="modal-about">
          {{dialogTitle}}
        </div>
      </div>
    </div>
    <button mat-icon-button (click)="dialogRef.close()" class="modal-close-button" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content>
    <form class="register-form m-4" [formGroup]="inspectionForm" (ngSubmit)="submit">
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Select Centre</mat-label>
            <mat-select formControlName="branchID" required (selectionChange)="fillDepartment($event.value)">
              @for (item of lstBranch; track item) {
              <mat-option [value]="item.branchID">{{item.name}}</mat-option>
              }
            </mat-select>
            @if (inspectionForm.get('branchID')?.hasError('required')) {
            <mat-error>
              Select Any Centre
            </mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Select Location</mat-label>
            <mat-select formControlName="departmentID" required>
              @for (item of lstDepartment; track item) {
              <mat-option [value]="item.departmentID">{{item.name}}</mat-option>
              }
            </mat-select>
            @if (inspectionForm.get('departmentID')?.hasError('required')) {
            <mat-error>
              Select Any Location
            </mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <!-- add file upload code -->
        <!-- show button enable only when centre and locationare selected -->
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <app-file-upload formControlName="files"></app-file-upload>
        </div> 


        
      </div>
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <div class="example-button-row">
            <button mat-raised-button color="primary" [disabled]="!inspectionForm.valid" [mat-dialog-close]="1"
              (click)="confirmAdd()">Save</button>
            <button mat-raised-button color="warn" (click)="onNoClick()" tabindex="-1">Cancel</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>