<section class="content">
    <div class="content-block">
        @for (breadscrum of breadscrums; track breadscrum) {
        <div class="block-header">
            <!-- breadcrumb -->
            <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
            </app-breadcrumb>
        </div>
        }
        <div class="row">
            <div class="col-md-12">
                <div class="mt-5">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="card">
                            <div class="materialTableHeader">
                                <div class="left">
                                    <ul class="header-buttons-left ms-0">
                                        <li class="tbl-title">
                                            <h2>Machines</h2>
                                        </li>
                                        <li class="tbl-search-box">
                                            <label for="search-input"><i
                                                    class="material-icons search-icon">search</i></label>
                                            <input placeholder="Search" type="text" #filter
                                                class="browser-default search-field" aria-label="Search box">
                                        </li>
                                    </ul>
                                </div>
                                <div class="right">
                                    <ul class="tbl-export-btn">
                                        <li class="tbl-header-btn">
                                            <div class="m-l-10" matTooltip="ADD">
                                                <button mat-mini-fab color="primary" (click)="addNew()">
                                                    <mat-icon class="col-white">add</mat-icon>
                                                </button>
                                            </div>
                                        </li>
                                        <li class="tbl-header-btn">
                                            <div class="m-l-10" matTooltip="REFRESH">
                                                <button mat-mini-fab color="primary" (click)="refresh()">
                                                    <mat-icon class="col-white">refresh</mat-icon>
                                                </button>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="body overflow-auto">
                                <div class="responsive_table">
                                    <table mat-table [dataSource]="dataSourceMachine" class="mat-elevation-z8">

                                        <!--- Note that these columns can be defined in any order.
                                                      The actual rendered columns are set as a property on the row definition" -->
                                        <!-- Name Column -->
                                        <ng-container matColumnDef="name">
                                            <th mat-header-cell *matHeaderCellDef> Line# </th>
                                            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                                        </ng-container>

                                        <!-- code Column -->
                                        <ng-container matColumnDef="code">
                                            <th mat-header-cell *matHeaderCellDef> Code </th>
                                            <td mat-cell *matCellDef="let element"> {{element.code}} </td>
                                        </ng-container>

                                        
                                        <!-- branch Column -->
                                        <ng-container matColumnDef="branchName">
                                            <th mat-header-cell *matHeaderCellDef> Branch </th>
                                            <td mat-cell *matCellDef="let element"> {{element.branchName}} </td>
                                        </ng-container>

                                        
                                        
                                        <!-- department Column -->
                                        <ng-container matColumnDef="departmentName">
                                            <th mat-header-cell *matHeaderCellDef> Department </th>
                                            <td mat-cell *matCellDef="let element"> {{element.departmentName}} </td>
                                        </ng-container>
                                        
                                        <!-- section Column -->
                                        <ng-container matColumnDef="sectionName">
                                            <th mat-header-cell *matHeaderCellDef> Section </th>
                                            <td mat-cell *matCellDef="let element"> {{element.sectionName}} </td>
                                        </ng-container>

                                        <!-- workDescription Column -->
                                        <ng-container matColumnDef="workDescription">
                                            <th mat-header-cell *matHeaderCellDef> Work Description </th>
                                            <td mat-cell *matCellDef="let element"> {{element.workDescription}}
                                            </td>
                                        </ng-container>

                                        <!-- active Column -->
                                        <ng-container matColumnDef="active">
                                            <th mat-header-cell *matHeaderCellDef> Active </th>
                                            <td mat-cell *matCellDef="let element"> {{element.isActive?
                                                'Active':'Inactive'}} </td>
                                        </ng-container>

                                        <!-- actions -->
                                        <ng-container matColumnDef="actions">
                                            <th mat-header-cell class="pr-0" *matHeaderCellDef>Actions
                                            </th>
                                            <td mat-cell *matCellDef="let row; let i=index;" class="pr-0">
                                                <button mat-icon-button (click)="Edit(row)" class="tbl-action-btn"
                                                    matTooltip="EDIT">
                                                    <app-feather-icons [icon]="'edit'"
                                                        [class]="'tbl-fav-edit'"></app-feather-icons>
                                                </button>
                                                <!-- <button mat-icon-button (click)="$event.stopPropagation()"
                                                            class="tbl-action-btn">
                                                            <app-feather-icons [icon]="'trash-2'"
                                                                [class]="'tbl-fav-delete'"></app-feather-icons>
                                                        </button> -->
                                            </td>
                                        </ng-container>
                                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                    </table>

                                    <div *ngIf="dataSourceMachine.filteredData.length === 0">No records found
                                    </div>
                                    <mat-paginator [pageSize]="10" [pageSizeOptions]="[10,20,30,50,100]"
                                        showFirstLastButtons>
                                    </mat-paginator>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>