.style-image {
    min-width: 100px;
    min-height: 100px;
    max-width: 100px;
    max-height: 100px;
  //  margin: 4px 0px 4px 0px;
}

.fa-icons .fa {
    margin-right: 15px;
    display: inline-block;
    color: #484848;
    cursor: pointer;
}
@page { size: auto;  margin: 0mm; }
.print-btn {background: none;
    border: none;}