<section class="content">
  <div class="content-block">
    @for (breadscrum of breadscrums; track breadscrum) {
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
      </app-breadcrumb>
    </div>
    }
    <div class="row">
      <div class="col-md-12">
        <div class="mt-5">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
              <div class="modalHeader">
                <div class="editRowModal">
                  <div class="modalHeader clearfix">
                    <div class="modal-about">
                      {{dialogTitle}}
                    </div>
                  </div>
                </div>
              </div>
              <div class="body overflow-auto">
                <form class="register-form m-4" [formGroup]="jobdetailForm" (ngSubmit)="(submit)">
                  <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                      <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Style</mat-label>
                        <mat-select formControlName="styleID" required>
                          @for (st of lstStyles; track st) {
                          <mat-option [value]="st?.styleID">{{
                            st?.code
                            }}</mat-option>
                          }
                        </mat-select>
                        @if
                        (jobdetailForm.get('styleID')?.hasError('required'))
                        {
                        <mat-error> Required </mat-error>
                        }
                      </mat-form-field>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                      <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Quantity</mat-label>
                        <input matInput formControlName="quantity" type="number" required />

                        @if
                        (jobdetailForm.get('quantity')?.hasError('required'))
                        {
                        <mat-error>Required </mat-error>
                        }
                      </mat-form-field>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                      <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Price</mat-label>
                        <input matInput formControlName="price" type="number" required />

                        @if
                        (jobdetailForm.get('price')?.hasError('required'))
                        {
                        <mat-error>Required </mat-error>
                        }
                      </mat-form-field>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                      <div class="example-button-row">
                        <button mat-raised-button color="primary" [disabled]="!jobdetailForm.valid"
                          (click)="confirmAdd()">
                          Save
                        </button>

                        <button mat-raised-button color="warn" (click)="onNoClick()" tabindex="-1">
                          Cancel
                        </button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
              <div class="materialTableHeader">
                <div class="left">
                  <ul class="header-buttons-left ms-0">
                    <li class="tbl-title">
                      <h2>Job Detais</h2>
                    </li>
                    <!-- <li class="tbl-search-box">
                      <label for="search-input"><i class="material-icons search-icon">search</i></label>
                      <input placeholder="Search" type="text" #filter class="browser-default search-field"
                        aria-label="Search box" />
                    </li> -->
                  </ul>
                </div>
                <div class="right">
                  <ul class="tbl-export-btn">
                    <li class="tbl-header-btn">
                      <div class="m-l-10" matTooltip="ADD">
                        <button mat-mini-fab color="primary" (click)="addNew()">
                          <mat-icon class="col-white">add</mat-icon>
                        </button>
                      </div>
                    </li>
                    <!-- <li class="tbl-header-btn">
                      <div class="m-l-10" matTooltip="REFRESH">
                        <button mat-mini-fab color="primary" (click)="refresh()">
                          <mat-icon class="col-white">refresh</mat-icon>
                        </button>
                      </div>
                    </li> -->
                  </ul>
                </div>
              </div>

              <div class="body overflow-auto">
                <div class="responsive_table">
                  <table mat-table [dataSource]="dataSourceStyle" class="mat-elevation-z8">
                    <!--- Note that these columns can be defined in any order.
                                                        The actual rendered columns are set as a property on the row definition" -->

                    <!-- code Column -->
                    <ng-container matColumnDef="code">
                      <th mat-header-cell *matHeaderCellDef>Style Code</th>
                      <td mat-cell *matCellDef="let element">
                        {{ element.code }}
                      </td>
                    </ng-container>
                    <!-- category Column -->
                    <ng-container matColumnDef="quantity">
                      <th mat-header-cell *matHeaderCellDef>Quantity</th>
                      <td mat-cell *matCellDef="let element">
                        {{ element.quantity }}
                      </td>
                    </ng-container>

                    <!-- active Column -->
                    <ng-container matColumnDef="active">
                      <th mat-header-cell *matHeaderCellDef>Price</th>
                      <td mat-cell *matCellDef="let element">
                        {{ element.price }}
                      </td>
                    </ng-container>

                    <!-- actions -->
                    <ng-container matColumnDef="actions">
                      <th mat-header-cell class="pr-0" *matHeaderCellDef>Actions
                      </th>
                      <td mat-cell *matCellDef="let row; let i = index" class="pr-0">
                        <button mat-icon-button (click)="Edit(row)" class="tbl-action-btn" matTooltip="EDIT">
                          <app-feather-icons [icon]="'edit'" [class]="'tbl-fav-edit'"></app-feather-icons>
                        </button>
                        <button mat-icon-button (click)="Delete(row)" class="tbl-action-btn" matTooltip="DELETE">
                          <app-feather-icons [icon]="'trash-2'" [class]="'tbl-fav-delete'"></app-feather-icons>
                        </button>
                      </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                  </table>

                  <div *ngIf="dataSourceStyle.filteredData.length === 0">
                    No records found
                  </div>
                  <mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 20, 30, 50, 100]" showFirstLastButtons>
                  </mat-paginator>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>