<div class="addContainer">
    <div class="modalHeader">
        <div class="editRowModal">
            <div class="modalHeader clearfix">
                <!-- <img [src]='teachers.img' alt="avatar"> -->
                <div class="modal-about">
                    {{dialogTitle}}
                </div>
            </div>
        </div>
        <button mat-icon-button (click)="dialogRef.close()" class="modal-close-button" aria-label="Close dialog">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div mat-dialog-content>
        <form class="register-form m-4" [formGroup]="branchForm" (ngSubmit)="submit">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Center Name</mat-label>
                        <input matInput formControlName="name" required>
                        <!-- <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>face</mat-icon> -->
                        @if (branchForm.get('name')?.hasError('required')) {
                        <mat-error>
                            Center Name is required
                        </mat-error>
                        }
                    </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>City</mat-label>
                        <input matInput formControlName="city" required>
                        <!-- <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>face</mat-icon> -->
                        @if (branchForm.get('city')?.hasError('required')) {
                        <mat-error>
                            City is required
                        </mat-error>
                        }
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <!-- <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">

                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>State</mat-label>
                        <input matInput formControlName="state" required>
                        <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>face</mat-icon>
                        @if (branchForm.get('state')?.hasError('required')) {
                        <mat-error>
                            State is required
                        </mat-error>
                        }
                    </mat-form-field>
                </div> -->
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Select State</mat-label>
                        <mat-select formControlName="state" required>
                            <mat-option [value]="'Andhra Pradesh'">
                                Andhra Pradesh
                            </mat-option>
                            <mat-option [value]="'Andaman and Nicobar Islands'">
                                Andaman and Nicobar Islands
                            </mat-option>
                            <mat-option [value]="'Assam'">
                                Assam
                            </mat-option>
                            <mat-option [value]="'Bihar'">
                                Bihar
                            </mat-option>
                            <mat-option [value]="'Chandigarh'">
                                Chandigarh
                            </mat-option>
                            <mat-option [value]="'Dadar and Nagar Haveli'">
                                Dadar and Nagar Haveli
                            </mat-option>
                            <mat-option [value]="'Daman and Diu'">
                                Daman and Diu
                            </mat-option>
                            <mat-option [value]="'Delhi'">
                                Delhi
                            </mat-option>
                            <mat-option [value]="'Lakshadweep'">
                                Lakshadweep
                            </mat-option>
                            <mat-option [value]="'Puducherry'">
                                Puducherry
                            </mat-option>
                            <mat-option [value]="'Goa'">
                                Goa
                            </mat-option>
                            <mat-option [value]="'Gujarat'">
                                Gujarat
                            </mat-option>
                            <mat-option [value]="'Haryana'">
                                Haryana
                            </mat-option>
                            <mat-option [value]="'Himachal Pradesh'">
                                Himachal Pradesh
                            </mat-option>
                            <mat-option [value]="'Jammu and Kashmir'">
                                Jammu and Kashmir
                            </mat-option>
                            <mat-option [value]="'Jharkhand'">
                                Jharkhand
                            </mat-option>
                            <mat-option [value]="'Karnataka'">
                                Karnataka
                            </mat-option>
                            <mat-option [value]="'Kerala'">
                                Kerala
                            </mat-option>
                            <mat-option [value]="'Madhya Pradesh'">
                                Madhya Pradesh
                            </mat-option>
                            <mat-option [value]="'Maharashtra'">
                                Maharashtra
                            </mat-option>
                            <mat-option [value]="'Manipur'">
                                Manipur
                            </mat-option>
                            <mat-option [value]="'Meghalaya'">
                                Meghalaya
                            </mat-option>
                            <mat-option [value]="'Mizoram'">
                                Mizoram
                            </mat-option>
                            <mat-option [value]="'Nagaland'">
                                Nagaland
                            </mat-option>
                            <mat-option [value]="'Odisha'">
                                Odisha
                            </mat-option>
                            <mat-option [value]="'Punjab'">
                                Punjab
                            </mat-option>
                            <mat-option [value]="'Rajasthan'">
                                Rajasthan
                            </mat-option>
                            <mat-option [value]="'Sikkim'">
                                Sikkim
                            </mat-option>
                            <mat-option [value]="'Tamil Nadu'">
                                Tamil Nadu
                            </mat-option>
                            <mat-option [value]="'Telangana'">
                                Telangana
                            </mat-option>
                            <mat-option [value]="'Tripura'">
                                Tripura
                            </mat-option>
                            <mat-option [value]="'Uttar Pradesh'">
                                Uttar Pradesh
                            </mat-option>
                            <mat-option [value]="'Uttarakhand'">
                                Uttarakhand
                            </mat-option>
                            <mat-option [value]="'West Bengal'">
                                West Bengal
                            </mat-option>
                        </mat-select>
                        @if (branchForm.get('department')?.hasError('required')) {
                        <mat-error>
                            Select Any Department
                        </mat-error>
                        }
                    </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Zipcode</mat-label>
                        <input matInput formControlName="zipcode" required>
                        <!-- <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>face</mat-icon> -->
                        @if (branchForm.get('zipcode')?.hasError('required')) {
                        <mat-error>
                            Zipcode is required
                        </mat-error>
                        }
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Phone</mat-label>
                        <input matInput formControlName="phone">
                        <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>phone</mat-icon>
                        @if (branchForm.get('phone')?.hasError('required')) {
                        <mat-error>
                            Phone is required
                        </mat-error>
                        }
                    </mat-form-field>

                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Country</mat-label>
                        <input matInput formControlName="country" required>
                        <!-- <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>face</mat-icon> -->
                        @if (branchForm.get('country')?.hasError('required')) {
                        <mat-error>
                            Country is required
                        </mat-error>
                        }
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                        <mat-checkbox formControlName="isActive">Active</mat-checkbox>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <div class="example-button-row">
                        <button mat-raised-button color="primary" [disabled]="!branchForm.valid" [mat-dialog-close]="1"
                            (click)="confirmAdd()">Save</button>
                        <button mat-raised-button color="warn" (click)="onNoClick()" tabindex="-1">Cancel</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>